[2022-05-21 00:55] Fortinbra opened #1 "Code Cleanup and Reorganization"
Cleaning up and reorganizing the code to make it easier for everyone, and more reliable.

[2022-05-21 00:56] Fortinbra opened #2 "D-Pad analog stick setup"

[2022-05-21 00:56] Fortinbra opened #3 "Screen History"
Tracking progress on including the screen history in the v0.44 release.

[2022-05-21 03:50] Fortinbra opened #4 "Analog stick and trigger support"
Adding additional ADCs to be able to support analog sticks and triggers.

[2022-05-21 03:59] Fortinbra opened #5 "XInput Headset Support"

[2022-05-21 04:16] Fortinbra opened #6 "DFU Mode over USB"

[2022-05-21 04:17] Fortinbra opened #7 "Turbo Button Support"

[2022-05-21 04:21] Fortinbra opened #8 "Modularized Architecture and simplified board configuration"

[2022-05-21 04:21] Fortinbra opened #9 "OLED Configurator"

[2022-05-21 04:22] Fortinbra opened #10 "Cross-platform web configurator"

[2022-05-21 04:38] Fortinbra opened #11 "Dance pad configuration support"

[2022-05-21 04:39] Fortinbra opened #12 "Wheel configuration support"

[2022-05-21 04:40] Fortinbra opened #13 "Overhaul Web Configuration"

[2022-05-21 14:56] Fortinbra opened #15 "Additional SOCD options (such as for rhythm games)"

[2022-05-21 14:58] Fortinbra opened #16 "Allow all buttons to be able to be remapped"

[2022-05-22 17:27] jbarket opened #18 "Document Developer Setup Process"
Right now, developing for GP2040 is a nebulous process. We need documentation in the Wiki (with screenshots, preferably) to explain the installation process of platformio, wizio-pico, et cetera.

Bonus points for:

1. WSL2 specific issues, eg passing USB through to prevent having to copy the file
2. Pico Probe documentation (probably a separate ticket, but can't really exist without this one)

[2022-05-22 17:33] jbarket opened #19 "Pull external dependencies into GP2040 proper"
Right now, we're dependent on MPG/MPGS and some other smaller libraries Feral wrote. The goal was to share as much as possible between GP2040 and projects targeting other microcontrollers. This is often one of the first issued faced by potential developers when they realize that things like USB descriptors and handling are hidden elsewhere.

For the sake of simplicity, these libraries should be re

[2022-05-23 23:16] NoswalDev commented on #18
I volunteer to get an outline started this weekend. If someone gets to it sooner, I have no complaints.
My suggestion is that we use Github Pages for a wiki instead of the built-in wiki. That way, we can have version control and allow multiple people to work on it at once without needing elevated access to this main repo.

[2022-05-24 02:30] jbarket commented on #18
It's funny you say that. I realize there is documentation for this already in the docs here: https://gp2040.info/#/development

Which raises an interesting question. First, I definitely think we want to split end user documentation from dev documentation. But I think the second is, we should make sure to link wherever it goes from the README or wiki here just in case. Because there's so much info

[2022-05-25 23:18] Fortinbra opened #20 "Allow changing SOCD settings in Web Configuration"

[2022-06-01 01:18] Fortinbra opened #21 "Enhance documentation"

[2022-06-05 23:26] NoswalDev commented on #21
Which piece do we need to prioritize?

[2022-06-26 21:14] mxd1365 opened #28 "Current source does not build due to WizIO change"
Due to this update to tinyUSB inside of Wiz-IO (https://github.com/Wiz-IO/framework-wizio-pico/commit/dbbbddaf54003e881f50d97a49d61b454aa5696d), the current version of GP2040-CE does not build.

The work around is to hard reset locally to this commit: https://github.com/Wiz-IO/framework-wizio-pico/commit/9fd8b5abae37924cdd48737f4406df0ab79ce183

[2022-06-29 11:53] henrebotha commented on #10
Related issue on the upstream: https://github.com/FeralAI/GP2040/issues/43

[2022-07-20 00:48] #1 closed

[2022-07-20 01:33] arntsonl commented on #7
I'm taking this one

[2022-07-20 01:35] arntsonl commented on #18
Just a note on this one, wizio broke with the latest version.

So for building the current version, you can use my modified wizio-pico repo as your Wizio in PlatformIO: https://github.com/arntsonl/wizio-pico until the owner gets a fix in.

[2022-08-01 09:47] butterrsoft opened #30 "Display freezes after a few seconds"
Hi, i have an SSD1306 128x64 OLED display, and it freezes about 10 seconds the stick is plugged in. Hot-plugging the OLED makes it work for another ten seconds or so.

Also, after powering down the stick, if i plug it back in right away the display rarely comes up. Hot-plugging the OLED does nothing there.

I have a couple more OLEDs on order from another seller and will try to figure out if the d

[2022-08-04 11:37] butterrsoft commented on #30
Actually, on longer testing, sometimes the display comes to life again, and freezes again, and comes to life again, and repeat.

[2022-08-04 14:47] TheTrainGoes commented on #30
Hi @butterrsoft ,

Can you link the specific OLED that you are using?  I have run into some issues with OLEDs from Amazon and AliExpress.

[2022-08-04 14:48] TheTrainGoes commented on #28
Closing this issue as the fix provided by @arntsonl has been tested and works.

[2022-08-04 14:48] #28 closed

[2022-08-04 14:50] TheTrainGoes commented on #7
This has been implemented in the PicoAnn firmware that is available here:
https://github.com/alirin222/GP2040-PicoAnn

I have tested this firmware and it works as intended including the additions to the OLED.

It is recommended that we find a solution which does not require the use of GPIO25 (TP) for the Turbo LED.

[2022-08-04 14:52] TheTrainGoes opened #31 "Player LEDs as a separate addressable RGB pin"
Currently Player LEDs take up four pins on most firmware versions.

This can be reduced to one pin if we have it as an addressable RGB string.

As a bonus we can also have the 5th LED on the string act as the Turbo LED further reducing the pins needed for a full setup.

[2022-08-04 14:53] TheTrainGoes commented on #31
Turbo LED / Turbo taken from https://github.com/alirin222/GP2040-PicoAnn

[2022-08-04 14:55] TheTrainGoes opened #32 "Support for the Waveshare RP2040 Zero"
The Waveshare RP2040 Zero (found here: https://www.waveshare.com/rp2040-zero.htm) is a small Pico clone that offers enough GPIO pins for a basic setup.

I will likely take this request on and create a firmware that can be used for it.

[2022-08-04 23:12] butterrsoft commented on #30
This one from Aliexpress - https://www.aliexpress.com/item/32233334632.html?spm=a2g0o.order_list.0.0.6a181802U0pJZs

I have a couple more on order that actually say they have the ssd1306 chip in them, but they're probably the same.

[2022-08-05 01:43] TheTrainGoes commented on #30
Hi @butterrsoft ,

Feel free to join the OpenStick Discord if you would like to have a more in-depth chat about this.

Can you confirm which IIC address is selected on the back of the OLED and also what your display settings are currently set at in the online config tool?

[2022-08-10 05:04] gamecenterjun opened #34 "Add extra button to modify inputs like The Antagonist board?"
Ok so this is not an issue, it's more like a feature request... I'm sure you guys have heard of The Antagonist by now. It's a mod board that adds a button to modify inputs and adds hitbox-like features to lever controllers.

For example, if you hold back and press the extra button, the input changes to forward. Hold back, press button+punch, you get a Sonic Boom without letting go of back, just li

[2022-08-11 12:31] TheTrainGoesChoo commented on #32
This has been done compiled and tested.  Once we move to .44 I will submit a PR with the changes and merge.

[2022-08-11 12:33] TheTrainGoesChoo commented on #34
Hey @gamecenterjun ,

I know Buttero very well!

At this time we are not looking to implement things into the build that are produced by independent makers.

The Antagonist offers a number of features that we currently do not such as the mobile app for configuration.

I would recommend grabbing one of his boards, they are great!

[2022-08-11 12:34] TheTrainGoes commented on #34
Hey @gamecenterjun ,

I know Buttero very well!

At this time we are not looking to implement things into the build that are produced by independent makers.

The Antagonist offers a number of features that we currently do not such as the mobile app for configuration.

I would recommend grabbing one of his boards, they are great!

[2022-08-11 12:37] TheTrainGoes commented on #32
This has been done compiled and tested. Once we move to .44 I will submit a PR with the changes and merge.

[2022-08-11 13:17] #34 closed

[2022-08-11 16:22] henrebotha opened #37 "RFC: Move board configs out to their own repos"
At present, board configs (for specific controllers such as Crush Counter, as well as dev boards such as the Pi Pico) live inside this repo. This means for example that any change to the core code must be tested against every single board, or risk breaking them. It also results in an inverted balance of power, where the owner of a board cannot make changes to their own board without the permission

[2022-08-11 17:03] arntsonl opened #39 "Convert Turbo LED GPIO to 3v3 (HIGH)"
Turbo LED is currently relying on GND rather than 3v3 (HIGH) pin. Reverse the logic to match other board add-ons.

[2022-08-11 17:05] arntsonl commented on #6
There's an undocumented feature I didn't realize, if you hold start or select and up during start, the GP2040 reboots into uf2 flash mode.

For configuration updates via USB, we will handle this via HID input/output rather than DFU mode.

[2022-08-12 14:17] arntsonl commented on #7
Done and in the official v0.5.0 release!

[2022-08-12 14:17] #7 closed

[2022-08-12 18:03] henrebotha commented on #37
Here is a good example of how this can be done: https://zmk.dev/docs/user-setup

That project uses GitHub Actions to build the firmware, obviating the need for board designers to install the toolchain. GitHub also has a feature for creating repos based on a template, which would be a great way to automate a lot of the setup for a board designer.

[2022-08-13 17:32] TheTrainGoes opened #41 "Bug in LS/RS slider when pins are defined as -1 during compile"
There is currently a bug where if the LS / RS slider is defined as -1 in the config file the unit will default to LS.

Stick selection is not persistent though reset so it will always go back to LS even if placed in a different mode via the online config.

There are two ways that I believe we can address this:

1 - Make DPad mode the default, not LS
2 - Force defining of a pin for each the LS / RS

[2022-08-13 17:34] TheTrainGoes commented on #39
The choice of Player LEDs being run of 3.3v is likely due to how Brook does theirs and to make it compatible with devices like the BitBangGaming Player LED module.

Having the turbo LED follow a similar structure will allow it to be more compatible with sticks like the Hori VLX or other units with a single 3.3v line for all onboard LEDs.

[2022-08-13 17:37] TheTrainGoes opened #42 "Update to screen display layout while in web-config mode"
With v0.5.0 the screen now fully changes when in web-config mode.

I am recommending that we keep the top row of information visible while in web-config mode and simply replace the joystick layout graphics with the the notice that you are in web-config mode.

[2022-08-13 20:17] arntsonl commented on #41
Pins for LS and RS were set to unsigned 8-bit, which cause the comparisons to fail. Added cast on the conversions, will note for future issues.

[2022-08-13 22:04] arntsonl commented on #42
Agreed, new code will have status bar and web config mode text, plus the GP2040 version.

[2022-08-14 03:16] arntsonl commented on #39
Fixed in 0.5.1 release.

[2022-08-14 03:16] #39 closed

[2022-08-14 03:16] arntsonl commented on #41
Fixed in 0.5.1 release.

[2022-08-14 03:16] #41 closed

[2022-08-14 03:17] arntsonl commented on #42
Fixed in 0.5.1 release.

[2022-08-14 03:17] #42 closed

[2022-08-15 00:18] arntsonl opened #45 "Pico Board Image (Assets) has OLED SDA/SCL flipped"
The SDA and SCL pins are flipped on the Pico image but are correct in the BoardConfig.h

Files in question: \configs\Pico\assets\PinMapping.*

[2022-08-15 02:37] TheTrainGoes opened #46 "Change LS / RS slider default config to -1"
Several people have been in touch to say they upgraded to v0.5.0/0.5.1 and lost the ability to change DP/LS/RS as they do not have a dedicated toggle yet.

As such I am recommending that we change the default config until we have the web-config updated.

From:

#define PIN_SLIDER_LS    26
#define PIN_SLIDER_RS    27

To:

#define PIN_SLIDER_LS    -1
#define PIN_SLIDER_RS   -1

[2022-08-15 02:41] TheTrainGoes opened #47 "Update to the web-config information on the OLED"
Currently, when in web-config mode and while an OLED is connected you will get a notice in place of the buttons.

Should we have this centred on the screen over left justification?

[2022-08-15 02:42] TheTrainGoes opened #48 "Update instances of 'hitbox' to 'stickless'"
Update all instances of 'hitbox' to 'stickless'

[2022-08-15 02:45] TheTrainGoes opened #49 "Choose default splash screen for GP2040-CE"
Agree on a default space screen for GP2040-CE

[2022-08-15 02:46] TheTrainGoes commented on #49
![sprite_1](https://user-images.githubusercontent.com/32771064/184568853-614dbad6-72d8-43f4-9b4b-991d7e01b83b.png)
![sprite_0](https://user-images.githubusercontent.com/32771064/184568854-287d7ae7-4d7a-4849-89ab-a0d0ce6ccd77.png)

Possible candidates

[2022-08-15 02:56] TheTrainGoes opened #50 "Consideration for dual colour OLED displays - NEEDS TESTING"
For further investigation.

I believe I read that the dual colour OLED units have two rows blocked out (row 8 + 9).

This should be tested to ensure maximum compatibility.

[2022-08-15 02:58] TheTrainGoes opened #51 "Update `BUTTON_LAYOUT` to `BUTTON_LAYOUT_LEFT`"
`BUTTON_LAYOUT` is now a legacy name since the introduction of additional layouts for the right side buttons listed as `BUTTON_LAYOUT_RIGHT`.

From:

`BUTTON_LAYOUT`

To:

`BUTTON_LAYOUT_LEFT`

[2022-08-15 03:01] TheTrainGoes opened #52 "Key shortcut to turn OLED on/off"
Add a key shortcut to turn the OLED display on/off

[2022-08-15 03:03] TheTrainGoes opened #53 "Web-config update - Add default turbo value drop down"
Under web-config / settings add a drop-down menu for the default turbo speed (05-30).

[2022-08-15 03:05] TheTrainGoes opened #54 "Web-config update - add pin mapping configuration option for the LS / RS slider"
Under web-config / configuration / pin mapping add two new entries for the LS and RS slider that can be set to -1 to disable.

[2022-08-15 03:15] TheTrainGoes opened #55 "Update default configuration file layout"
Currently the default configuration has things out of order and in odd groupings, recommend that we move to the following:

[code]

[2022-08-15 03:18] TheTrainGoes opened #56 "Remove unneeded line in /src/addons/i2cdisplay.cpp"
INPUT_MODE_CONFIG does not function and is no longer needed, remove line

[code]

[2022-08-15 12:54] TheTrainGoes opened #57 "Web-config update - Update Firmware Version section"
The firmware version showing in the Web-config is now out of date and not consistent with the actual version.

[2022-08-15 15:24] arntsonl opened #59 "Add board version to BoardOptions and add it to web-config requests"
Board Version should be in the boardoptions save EEPROM.

Subsequent calls to BoardOptions will use the board flash data to determine the version rather than the build environment.

[2022-08-15 17:54] arntsonl opened #60 "Change PS1 to py for Web-Config build script"
More devs have experience with Python in this group, so it makes sense to run build scripts from Python rather than Powershell.

[2022-08-16 14:26] #57 closed

[2022-08-16 14:28] arntsonl commented on #51
This is in latest, will close once we release the next version.

[2022-08-16 14:36] arntsonl commented on #48
This is in main, will close once release is pushed

[2022-08-17 06:29] nullczek opened #64 "flashing buttons showing on OLED screen while holding u + d clean to neutral."
hold u + d, with clean to neutral, for about 20 seconds. shortly, on the oled the dpad indicators begin alternating, rather than showing cleaned output of neutral. does not appear to be consistent timing or pattern but not 100% on that.

See attached movie for demo of behavior.

this is on 0.5.1, Bentobox using the ScrubTier MPG fork
However, this behavior is NOT observed on a 0.4 build of CE with

[2022-08-17 06:34] nullczek commented on #64
Standard Bento config, with following additions, in case it matters:

#define PIN_BUTTON_TURBO -1
#define PIN_SLIDER_LS    -1
#define PIN_SLIDER_RS    -1

#define BUTTON_LAYOUT BUTTON_LAYOUT_HITBOX
#define BUTTON_LAYOUT_RIGHT BUTTON_LAYOUT_HITBOX

#define SPLASH_MODE NOSPLASH

#define TURBO_LED_PIN -1

#define PLED_TYPE PLED_TYPE_NONE
#define PLED1_PIN -1
#define PLED2_PIN -1
#define PLED3_PIN -1

[2022-08-17 07:24] henrebotha commented on #15
Can we enumerate all the options we want? I know some work is being done here.

[2022-08-17 07:33] henrebotha opened #65 "Abandon PlatformIO"
There has been some discussion around getting away from PlatformIO. Doing so would also allow us to drop the dependency on wizio-pico.

Moving away from PlatformIO probably means adopting CMake instead.

There are apparently some breaking changes in the latest Pico SDK, so we'd need to accommodate those in the migration. (Could we instead target whichever SDK version PlatformIO currently targets,

[2022-08-17 14:37] TheTrainGoes commented on #64
Thanks for this.  I was able to reproduce the screen issue.  Going to test on my Switch and see what is registered.

[2022-08-17 14:39] TheTrainGoes commented on #64
Testing on my Switch does properly clean to neutral, so this is an OLED display issue only.

[2022-08-17 14:52] TheTrainGoes commented on #64
@nullczek I looked into the code and tested a few things.  This is an issue due to the I2C speed.

By default the speed is set to 800,000 which is very very fast.  This is causing the issues with the flickering button presses when both are held.

Lowering this value to 100,000 addresses the issue and shows nothing on screen when both buttons are held as it should.  It has the added bonus of workin

[2022-08-17 18:53] TheTrainGoes opened #67 "Player LEDs to match style of the Turbo LED"
Currently the Turbo LED is working as intended but all Player LEDs are active.  Player LEDs need to be changed to work like the Turbo LED.

[2022-08-18 19:12] #64 closed

[2022-08-19 16:17] arntsonl commented on #47
Yeah that's totally fine! I thought it would be a nice little message and it would help us debug when folks say they can't get debug working.

I'll add this to my to-dos

[2022-08-19 16:42] TheTrainGoes commented on #47
Love the feature!  This is a really good way to know when the RP2040 is in web-config mode.

[2022-08-20 18:07] tidle opened #68 "Add support for macros (perhaps definable in the web interface)"

[2022-08-22 02:47] fabricioanciaes opened #69 "Weird LED flickering while holding direction inputs"
[Here's a video of it happenning](https://imgur.com/a/jbJUS4O)

Pressing the right side buttons and using the static modes where the whole controller lights up work just fine, but for some weird reason, on the mode that the buttons light up when pressed, only the direction buttons flicker. In the video footage you can see me holding all direction buttons and the buttons just flicker like crazy.

T

[2022-08-22 02:52] TheTrainGoes opened #71 "Add documentation to BoardConfig.h"

[2022-08-22 19:27] nullczek commented on #69
SOCD flashing on --OLED-- screen still present at 100, 400 k I2C speed, likely related to #64

[2022-08-23 01:18] #71 closed

[2022-08-23 03:45] TheTrainGoes commented on #69
Thank you for this - we are looking into it.

[2022-08-23 03:45] TheTrainGoes commented on #68
Macros are high on our want-to-do list!

[2022-08-23 03:46] TheTrainGoes commented on #67
Closing this as I didn't have the pins set properly in the boardconfig file.

[2022-08-23 03:46] #67 closed

[2022-08-23 03:47] TheTrainGoes commented on #56
It looks like there was a bug causing this not to display.  This is fixed in [this PR](https://github.com/OpenStickFoundation/GP2040-CE/pull/25)

[2022-08-23 03:48] TheTrainGoes commented on #47
This has been updated.

[2022-08-23 03:48] #47 closed

[2022-08-28 05:05] arntsonl commented on #69
Solved it, the issue was that the add-ons could read the gamepad while it was in the middle of cleaning SOCD.

I've added a solution that works and is pretty easy, but we will want to rethink MPG a bit.

[2022-08-28 14:07] TheTrainGoes commented on #69
Hi @fabricioanciaes ,

Feel free to compile https://github.com/OpenStickFoundation/GP2040-CE/pull/75 and test this out for yourself if you have any additional feedback.

I have tested this and it has fixed the issue.

[2022-08-28 14:08] #69 closed

[2022-08-28 14:11] TheTrainGoes commented on #55
Boardconfig.h has been updated with documentation via
https://github.com/OpenStickFoundation/GP2040-CE/commit/a6c5f28d7b63412e05df14134069cb5d5447fa9f

[2022-08-28 14:11] #55 closed

[2022-08-30 20:58] nullczek opened #76 "Implement tournament lockout mode"
Accidentally pressing a button such as start during tourney play is grounds for a DQ.
Lockout harnesses use a toggle switch to disable such buttons.

Could allow this to optionally be mapped to a pin, or do in software, where it can be toggled, optimally through a combination hold for X seconds, possibly two such combos to eliminate possibility of accidental change.

Enabling (not just turning it

[2022-08-30 21:34] nullczek opened #77 "Add "game mode" configuration"
Right now, you can switch backends in config for xinput, switch, etc.
Settings in config are either global or specific to the backend.

Add a higher level container, the "game mode" profile for settings to contain all settings and setting overrides, that will contain all settings for a specific game or genre, as defined by the user. Being able to import/export these would be great for sharing conf

[2022-08-30 21:52] nullczek commented on #68
I really think looking around to see if we can borrow code for this from another projects, as this is a very well defined paradigm,
at the very least see if we reuse a popular data format for persisting macro configs, maybe a webui.

Concepts like layer shifts, button holds/taps multiple presses, chord definition, is well defined in qmk/via, and stored in JSON.

Also, I would suggest checking out

[2022-08-30 21:55] nullczek commented on #76
See my comment in #68
This feature could utilize the macro def functionality i discuss therein for the button chords, etc.

[2022-08-30 22:23] nullczek commented on #15
See my comment in https://github.com/OpenStickFoundation/GP2040-CE/issues/68
This feature could utilize the macro def functionality i discuss therein for the button chords, etc.
Also the game mode profile should be considered https://github.com/OpenStickFoundation/GP2040-CE/issues/77

- per button pair SOCD config - refactor code to allow a per-button pair config of SOCD behavior rather than a tup

[2022-08-30 23:56] nullczek opened #78 "Add keyboard mode"
Same as HayBox. Code for the TinyUSB keyboard implementation is already in Hay, not sure if Crane's uses TUSB.
They take the approach of registering a composite device that supports both KB and gamepad usage.
Button mapping in webconfig.

[2022-08-31 15:30] arntsonl commented on #60
This is ready to go in the latest release.

[2022-08-31 15:50] TheTrainGoes commented on #76
Hi @nullczek ,

Currently tournament legality is considered out of scope for the GP2040-CE project.

We are focused on getting to a stable v1.0 before looking into the overall legality of GP2040-CE in tournaments.

The simple solution to any sort of lockout is still to have a physical switch on the stick itself.

I like the proposed idea of having an OLED based indication of what is and is not loc

[2022-08-31 15:54] TheTrainGoes commented on #30
Closing this as we have not been able to reproduce the issue via any configuration and consider this a hardware issue.  Will re-open if we can reproduce.

[2022-08-31 15:55] TheTrainGoes commented on #31
Closing this as the plan will be to just add turbo LED and player LEDs into the main addressable RGB LED chain

[2022-08-31 15:55] #31 closed

[2022-08-31 15:55] TheTrainGoes commented on #56
Closing as this has been addressed.

[2022-08-31 15:55] #56 closed

[2022-08-31 15:56] TheTrainGoes commented on #49
We are currently running a vote / poll for this in the Discord.  Will close this out here.

[2022-08-31 15:56] #49 closed

[2022-08-31 23:15] Fortinbra commented on #76
I'm closing this issue for now. If we change our stance, we can always reopen or create a new issue.

[2022-08-31 23:15] #76 closed

[2022-08-31 23:20] #60 closed

[2022-08-31 23:33] Fortinbra commented on #2
I believe we already have support for D-Pad as an analog stick emulation

[2022-08-31 23:33] #2 closed

[2022-08-31 23:36] #6 closed

[2022-09-01 12:04] TheTrainGoes commented on #30
We have confirmed that this was a bad OLED module.

[2022-09-01 12:05] #30 closed

[2022-09-01 17:54] arntsonl opened #82 "Analog (ADC pins) configuration in Web-Config"
Add the Analog ADC pins to the web-config add-ons page.

This will allow adding the analog support without having to recompile the firmware.

[2022-09-01 17:56] arntsonl opened #83 "Use board version from board flash rather than hard-coded in Web-UI"
The board version is currently hard-coded in the React code, but it is now included in the flash memory of the board options.

Instead, this should be pulled from the board options on load of the main page.

This will help with updates later and weird mid-version issues.

[2022-09-01 17:56] #45 closed

[2022-09-01 17:56] #46 closed

[2022-09-01 17:57] #51 closed

[2022-09-01 17:57] #48 closed

[2022-09-01 17:58] arntsonl commented on #59
This is added to latest, and a new web-ui issue was opened.

[2022-09-01 17:58] #59 closed

[2022-09-01 17:59] arntsonl commented on #53
Done!

[2022-09-01 17:59] #53 closed

[2022-09-01 17:59] arntsonl commented on #54
Done and done!

[2022-09-01 17:59] #54 closed

[2022-09-01 18:04] arntsonl opened #84 "Move splash screen to new EEPROM memory location & add to Web-UI"
Splash screen is currently hardcoded in bitmaps.h

Move this to an EEPROM memory location and add the ability to upload new 1bpp images to the web-UI.

Web-UI will need to decide if it takes a raw binary file, or if you can input something like:

0xFF,0xFF,0xCA....

to make life easier for anyone wanting to change the screens.

We either want to implement an RLE compression, or make sure we alloca

[2022-09-03 01:39] SneakySpec opened #87 "LED flickering when connected to certain devices."
LEDs rapidly cycle through colors and flash when a controller is connected to specific devices.

[Video Example 1](https://www.youtube.com/shorts/RUzpTee3nq8) -  0.4.3

(brightness and flashing warning)
[Video Example 2](https://www.youtube.com/shorts/RUzpTee3nq8) -  0.5.2

This behavior has been found to be exhibited when connected to the following devices.

Thunderbolt 3 Port
Playstation 3
Plays

[2022-09-04 21:21] TheOpponent opened #88 "Allow mapping all analog stick inputs simultaneously"
Mapping left and right analog stick directions to the pins would allow for control of games that use them simultaneously, such as twin-stick shooter games.

[2022-09-05 10:46] henrebotha commented on #76
Despite the name, this feature is not restricted to the tournament scene. It should not be wontfix just because of its name.

[2022-09-05 15:49] TheTrainGoes commented on #76
@henrebotha I am still more in favour of a physical switch that just cuts the ground line.

For builds without the screen / LEDs it would need a key combo that is available on the non-locked out buttons to enable / disable.

This makes more sense when there is a screen that shows things are locked out, but I like to try and work features around the ensure user base and the creations they may alrea

[2022-09-05 15:55] henrebotha commented on #76
I don't think this is necessary. In fact it might be quite convenient to use the locked-out buttons themselves, in a more strict way (for example, requiring the player to hold two buttons down for 3 seconds). That way you don't require extra buttons just to control the feature.

Hard switches are good, but it's nice to have the option to implement this in firmware.

[2022-09-05 16:18] endl opened #89 "Wrong LED order when inverting DPAD mode"
when using inverted DPAD if the down button is pressed the LED for the up button is illuminated and visa versa
video of bug:
https://photos.app.goo.gl/UAk4NvH8KEwhtYp29

[2022-09-06 13:20] TheTrainGoes commented on #89
To elaborate on this my suspicion is that when the invert DPAD shortcut is used it is not also switching the assigned RGB LEDs order.

[code]

[2022-09-06 15:07] TheTrainGoes commented on #89
Further looking into this we will need to make changes to MPG which so far we have done done.

This may be out-of-scope for the time being but we will leave it open.

[2022-09-06 15:08] TheTrainGoes commented on #88
Hi @TheOpponent ,

We will take a look at the feasibility of this.

[2022-09-06 15:10] TheTrainGoes commented on #87
Thank you for the report @SneakySpec ,

We will take a look at this when we have time and I will see if I can replicate on my own.

[2022-09-06 17:41] Freamerhxl opened #90 "Error when building from source"
Uploading...
  Converting to UF2 ( 0x10000000 )
  Wrote 2161664 bytes to E:/source/GP2040-CE/.pio/build/raspberry-pi-pico\APPLICATION.uf2
*** [upload] UnicodeDecodeError : 'utf-8' codec can't decode byte 0xd0 in position 129: invalid continuation byte
Traceback (most recent call last):
  File "C:\Users\Fream\.platformio\packages\tool-scons\scons-local-4.4.0\SCons\Action.py", line 1318, in execute

[2022-09-10 12:36] quacka6 opened #92 "Add support for two player x-input from one board"
I would love to replace my 2 player arcade fighting cabs with ximo and ipac2 with this board.

[2022-09-13 15:47] arntsonl commented on #90
This looks like a Platform.Io issue (scons-local-4.4.0 specifically), as we do not do anything in the code at this point.

What Windows 11 language / localization are you set to?

[2022-09-13 16:00] Wang-Jianguo commented on #90
1. ‘Use Unicode UTF-8 for worldwide language support’ is enabled in Windows Region settings

[2022-09-13 16:07] arntsonl commented on #90
Perfect thank you for the info.

Yeah this is part of wizio-pico, which we can't currently update as it breaks LWIP. I'll put some more time into seeing if there's anything we can do about this.

[2022-09-15 01:29] TheTrainGoes commented on #11
@Fortinbra There are now Dance Pad on-screen displays available.  Is this enough to close the issue?

[2022-09-15 01:29] TheTrainGoes commented on #13
I'm close to close this out and submit new issues with specific action items

[2022-09-15 01:29] #13 closed

[2022-09-15 01:31] TheTrainGoes commented on #16
@Fortinbra which buttons currently cannot be re-mapped?

[2022-09-15 01:32] TheTrainGoes commented on #20
SOCD can be adjusted via web-config and has been fixed as of v0.5.2

[2022-09-15 01:32] #20 closed

[2022-09-15 01:36] TheTrainGoes commented on #37
Hey @henrebotha ,

We talked about this a fair bit and landed on this as our stance for the issue:

The main team on GP2040-CE will support only the ongoing development of the main Pico releases.  We will not test or factor other devices into the ongoing development of GP2040-CE.  It is up to the creators of those products to compile the newest releases in a way that works for their devices if the

[2022-09-15 01:36] #37 closed

[2022-09-15 01:37] TheTrainGoes commented on #50
I am going to close this out as I have a unit on order and will test then re-open if there are issues.

[2022-09-15 01:37] #50 closed

[2022-09-15 01:43] TheTrainGoes commented on #92
Hey @quacka6 ,

There is another community project that addressed this with a 4player board that runs off one input.

Currently there is a pin limit on the standard Raspberry Pi Pico that would prevent even having two full players worth of inputs (4 directions, 8 main buttons, start + select).

This will be possible should we be able to add a GPIO extension over SPI but until then I am going to cl

[2022-09-15 01:43] #92 closed

[2022-09-15 11:58] TheTrainGoes commented on #12
After speaking about this in Discord we are going to `close as not planned` but may look into this later.

[2022-09-15 11:58] #12 closed

[2022-09-18 12:23] xboxgod opened #94 "Nintendo Switch mode is not recognized on REAL Switch"
set to switch mode and windows system display POKKEN CONTROLLER, but insert to nintendo switch machine is not recognized, like no controller is plugged in. this is a BUG ?

[2022-09-18 23:32] nullczek opened #96 "Developer debug mode display on OLED"
Mostly adding this here for myself so I don’t forget

If some agreed upon #define, then enable a developer debug display. Trigger through key combo. Simple version at first to display basic info, at minimum info about memory, core utilization, poll rate, any other counters that you may think of please suggest

Eventually this could be evolved with what ZnF is aiming for with on screen config menus

[2022-09-19 12:10] TheTrainGoes opened #97 "Documentation lists wrong URL for Wizio"
From Discord:

"I went through the dev process setup yesterday so can probably help
https://github.com/OpenStickFoundation/GP2040-CE/blob/main/docs/development.md
the bit that's wrong is Environment setup step 5 - the correct URL to use is https://github.com/OpenStickFoundation/wizio-pico"

[2022-09-19 12:12] TheTrainGoes commented on #97
Updated on https://github.com/OpenStickFoundation/GP2040-CE/blob/main/docs/development.md

[2022-09-19 12:12] #97 closed

[2022-09-19 12:16] TheTrainGoes commented on #94
Hey @xboxgod,

I am primarily a Switch user myself and can confirm that it works 100%.

If not already done, you need to enable pro controller wired communication.  You can find steps to that here:

https://en-americas-support.nintendo.com/app/answers/detail/a_id/26315/~/how-to-enable%2Fdisable-pro-controller-wired-communication#:~:text=Complete%20these%20steps,it%20again%20to%20disable%20it.

"Co

[2022-09-19 16:55] xboxgod commented on #94
I can recognize it when I plug it in Switch with the same OTG adapter
The Brook Fighting Board, is OK  but 0.5.2 has no response at all

I will try, thanks a lot

[2022-09-20 16:58] TheTrainGoes commented on #94
Worked with the user directly.  Wired Pro Controller setting was not turned on.  Issue resoled.

[2022-09-20 16:58] #94 closed

[2022-09-20 17:07] TheTrainGoes commented on #94
As an additional note - modded Switches and Switches that are running old firmware from before the introduction of Wired Pro Controller mode may not work as expected.

[2022-09-21 02:01] BDJoe360 opened #98 "I also have this problem. How can I solve it?"
1.AS:
https://github.com/OpenStickFoundation/GP2040-CE/issues/94#issuecomment-1252650080
My switch is a version 14.2 system that has been modified by the atmospheric soft magic.Is there a solution?

2.In addition, my Pico is installed on Pico Fighting Board v1.1. The original firmware can only use GP2040 PicoFightingBoard_ V0.4.3. uf2, GP2040 RaspberryPiPico_ The key position of v0.4.3. uf2 is abn

[2022-09-22 02:41] TheTrainGoes commented on #98
HI @BDJoe360 ,

Are you able to turn on Pro Wired Controller mode from the settings still?

Hacked or modified Switches are touch to troubleshoot.

What is the behaviour when you connect it in switch mode and then press the A button multiple times?

[2022-09-22 11:59] BDJoe360 commented on #98
**in addition,Can you increase support for Xbox 360 game console?**

[2022-09-22 12:37] TheTrainGoes commented on #98
Hi @BDJoe360 ,

Support for modded or hacked Nintendo Switches is going to be considered out of scope.  There are no issues with non-modified or hacked Switches.  The modding or hacking process changes internal files which may result in GP2040-CE not working as intended.

  At this time there is no support for xBox / PS4 / PS5.  If we are able to ever get a legitimate way of offering support for t

[2022-09-22 12:37] #98 closed

[2022-09-22 12:41] TheTrainGoes commented on #52
Adding to this that we might just be able to send blank to the screen opposed to actually cutting the power which results in the unit not starting back up as intended.

I will touch base with Untrusted Root on this.

[2022-09-22 12:44] TheTrainGoes commented on #88
@TheOpponent,

Wanted to check in on this again to make sure I am understanding the ask.

Are you asking for a single analog input to be emulated as the other analog input simultaneously, or are you just asking to have two separate analogue sticks that can be used independently at the same time?

[2022-09-22 14:58] TheTrainGoes commented on #11
Closing as not planned for v1

[2022-09-22 14:58] #11 closed

[2022-09-22 15:26] TheOpponent commented on #88
My request is for the latter, allowing digital inputs to be mapped to both left and right analog controls at once. Currently, the directional input mode can be switched between the D-pad, left analog, or right analog, and I would like to know if it would be viable to allow left and right analog input at the same time, all controlled with digital inputs. My use case is for two 5-pin joysticks to be

[2022-09-22 15:51] TheTrainGoes commented on #88
@TheOpponent thanks for the update.

Twinstick is something I have looked into as well as I want to make one myself.

Most games allow for remapping to other inputs for the 2nd stick.  I built a proof-of-concept for the Switch that used the D-Pad and buttons as the separate sticks.

I will bring this up internally to see if there is a way to emulate RS via P1, P2, K1, K2.

[2022-09-22 15:54] TheTrainGoes commented on #88
Talked internally.

Not impossible, but also not currently on the roadmap.

Will close this out as not planned but keep it on our minds for future consideration.

[2022-09-22 15:54] #88 closed

[2022-09-22 15:55] TheOpponent commented on #88
Many of the twin-stick games I play are on PC, and they don't allow mapping buttons for the aiming controls. They only allow aiming with either the mouse or an analog stick input.

Thank you for your consideration.

[2022-09-28 07:43] Shambler2 commented on #82
Hi! Wondering if this feature is nearing release? If not - what's the best way to read in analog input for example for a analog trigger? Found mentions of support on pin 26/7 (ADC0/1) but can't see how to enable it yet or map it to a specific input

[2022-09-29 07:18] nullczek opened #102 "i2cdisplay fails to render several directional styles resulting in blank screen"
for #define BUTTON_LAYOUT
if the following values are used, the end result is a blank screen, and no LEDs on the buttons

BUTTON_LAYOUT_BUTTONS_BASIC
BUTTON_LAYOUT_KEYBOARD_ANGLED
BUTTON_LAYOUT_KEYBOARDA
BUTTON_LAYOUT_DANCEPADA

[2022-09-29 14:30] Hoopyy opened #104 "Support for multiple buttons to same input"
For instance, I would like to have 'Down' bound to down on my lever, the A button on my stick and the L2 button on my stick (3 ways total to press down). Trying to do this through the web-config results in an error. This wouldn't be a permanent configuration for my stick though, as I'd like to change input layout for different games (ruling out hardwiring buttons to same inputs).

I guess by exten

[2022-09-30 03:08] TheTrainGoes commented on #32
Added in https://github.com/OpenStickFoundation/GP2040-CE/pull/105

Will test tomorrow and merge

[2022-09-30 03:10] TheTrainGoes commented on #104
Hey @Hoopyy ,

Thanks for the feedback.

Can I compile something and send it over for testing to see if it behaves as expected and then we can look into the limitations for the config file.

Save / load is currently out of scope.

[2022-09-30 03:11] TheTrainGoes commented on #102
Strange, I had tested these at one point.  Will check them out tomorrow.

[2022-09-30 07:38] Hoopyy commented on #104
Yeah, I'd be happy to test.

[2022-10-01 17:46] TheTrainGoes commented on #102
Testing this today

[2022-10-01 17:59] TheTrainGoes commented on #102
@nullczek I have tested all of these and they are working on my setup.

Can you tell me a bit more about what you have setup wise to replicate this?

[2022-10-01 18:05] TheTrainGoes commented on #104
I've been testing out a few things on this but when defining in the BoardConfig.h you can only specify each input once.  So even if you put multiple down it will only take the last one.

Since this is a limitation to the code it is not something changing web-config would fix.

For this I think your best bet would be some custom hardware that can allow for multiple buttons to be mapped to the same

[2022-10-01 18:05] #104 closed

[2022-10-01 18:18] Hoopyy commented on #104
Alright no problem. Biggest reason for wanting this functionality was due to the Steam controller configuration adding unnecessary input delay (I believe its 1ms, very minor, but its extra delay none-the-less). I've found other programs that serve the same purpose with no delay, so I can use those. No need to bother yourself creating a custom board just for my use case.

Thanks for looking into th

[2022-10-01 18:22] TheTrainGoes opened #106 "v0.5.3 inclusion - add left + right screen layouts to web-config"
Drop downs for the left and right screen layouts are needed in the web-config.

Currently the only way to change these is through a custom compile.

This should live under the `Configuration` / `Display Configuration` section.

[2022-10-01 18:24] TheTrainGoes opened #107 "v0.5.3 inclusion - add splash screen layouts to web-config"
Drop downs for the splash screen layout are needed in the web-config.

Currently the only way to change these is through a custom compile.

This should live under the Configuration / Display Configuration section.

[2022-10-01 19:26] nullczek commented on #104
At a minimum I’d like to take a look at MPG, think about what it would take
for a minimum viable product implementation, and add the notes here. Please
assign to me so I don’t lose track of this.

On Sat, Oct 1, 2022 at 1:18 PM Hoopyy ***@***.***> wrote:

[2022-10-02 00:14] davewongillies commented on #10
This probably isn't of much help, but I noticed that whatever is going on with this firmware, rndis & the Linux kernel, that it makes Linux unhappy enough that I can't even do USB pass through to a Windows VM in Virtualbox (that's a first for me). That's even with the rndis kernel modules blacklisted.

[2022-10-02 00:41] davewongillies opened #109 "Detach GP2040-CE as fork of FeralAI/GP2040"
Now that it seems that [FeralAI/GP2040](https://github.com/FeralAI/GP2040/issues/87) is no longer maintained and is archived, can I suggest that you [detach](https://support.github.com/request/fork) this repository from being a fork of it? I've noticed that since this is a fork, it seems that it gets put down pretty low in search rankings on both Google and Github. In the past I maintained an open

[2022-10-02 01:05] TheTrainGoes commented on #104
Assigned to you @nullczek

[2022-10-02 01:40] TheTrainGoes commented on #109
Tagging @Fortinbra on this one as they look after the this part of things

[2022-10-08 17:21] TheTrainGoes commented on #3
Closing this and will re-open a new issue that links to the original work that Sleep did on this.

[2022-10-08 17:21] #3 closed

[2022-10-08 17:24] TheTrainGoes opened #121 "v0.5.4 nice to have - Proof of concept input histroy."
There was a PR on the original GP2040 that had the foundation for input history from Sleep:

https://github.com/FeralAI/GP2040/pull/48

I compiled and tested this.

It currently is a running line that will max out on screen length and will only resister one input of each input type in a row.  As an example, if I were to press `left` and then `left` again, it would only register one instance of `le

[2022-10-08 17:24] TheTrainGoes commented on #121
Tagging @Fortinbra - here is the new ticket

[2022-10-08 17:27] TheTrainGoes commented on #5
Closing this as not currently planned - can pick it up down the road when we have some more pins to work with.

[2022-10-08 17:27] #5 closed

[2022-10-08 17:33] TheTrainGoes commented on #32
Done and merged

[2022-10-08 17:33] #32 closed

[2022-10-08 17:35] TheTrainGoes commented on #102
Going to close this as resolved as I have not been able to replicate.  If we can replicate we can take a look again.

[2022-10-08 17:35] #102 closed

[2022-10-11 09:16] nullczek commented on #102
This was using the default Bento board config.
When using all of the the left side defines referenced as defective in this
issue, I’ve tried the following:
1. Disabling the rendering of the right hand side buttons altogether
2. Between the referenced left hand defines, I’ve tried using all possible
right side button defines

The outcome was always the same - when referenced left side values are
us

[2022-10-13 03:00] oct2pus opened #122 "All configs besides `rasp-pi-pico` and `pimoroni-pico-lipo` fail to build."
build log
[code]
I managed to get the `flatbox-rev-4` config to build by adding this segment from the `rasp-pi-pico` boardconfig.h to the `FlatBoxRev4` BoardConfig.h
[code]

I do not currently have any of the boards on hand to test if this *actually* works though.

[2022-10-13 04:55] jojo22904 opened #123 "how do you use LEDs?"
I'm gonna ask a dumb question because I'm new to all of this. But I've got a very simple controller setup and I can't find anywhere that tells you how to set up LEDs. If anyone could help that would be great. Like I said I'm new to this stuff so sorry if that's a dumb question. thanks!

[2022-10-15 03:34] TheTrainGoes commented on #122
This is fixed in @arntsonl 's PR, thanks for flagging @oct2pus

[2022-10-15 03:34] #122 closed

[2022-10-15 03:35] TheTrainGoes commented on #123
Hey @jojo22904 ,

No stupid questions, we all started somewhere with this stuff.

If you want to hop on our Discord we can walk you though setting up LEDs.

[2022-10-15 15:48] jojo22904 commented on #123
Hey do you mind if I start a discussion on GitHub instead? I don't really use discord

[2022-10-15 16:02] TheTrainGoes commented on #123
Hey @jojo22904 ,

No problem, might just take a bit longer to get back to replies.

Which LEDs are you trying to use with the setup?  If you have an image of what you are working with please attach it.

[2022-10-15 21:10] jojo22904 commented on #123
@TheTrainGoes

I started a discussion and answered your questions there thank you so much for your help

[2022-10-16 18:35] xboxgod opened #127 "0.5.2 stick animation in DP is OK, if use LS the OLED not have any move on joystick animation"
0.5.2 version, I found OLED stick animation if I use DP is OK,
but if use LS model the OLED not have any move on joystick animation, just joystick ball on  center not move

[2022-10-22 03:07] TheTrainGoes commented on #127
I have tested this and it is due to LS and RS not being defined in the gamepad.  Not sure if this can be fixed but we will look into it further

[2022-10-24 01:37] TheTrainGoes commented on #123
Answered in the discussions section

[2022-10-24 01:37] #123 closed

[2022-10-24 01:38] TheTrainGoes commented on #82
This was added as part of https://github.com/OpenStickFoundation/GP2040-CE/pull/129

[2022-10-24 01:38] #82 closed

[2022-10-24 01:42] TheTrainGoes opened #131 "Adding any BUTTON_LAYOUT's for the left side cause entire display to stop working"
I was trying to add another layout for none and noticed that even if cloning an existing one (like stickless) it will cause the entire display to not work.

This is also apparent in my TWINSTICKA as well.

Unit functions as expected when any other combination of options is selected.

There is no issue with any of the new BUTTON_LAYOUT_RIGHT options

[2022-10-24 02:47] TheTrainGoes commented on #131
Fixed in https://github.com/OpenStickFoundation/GP2040-CE/pull/132

[2022-10-24 02:47] #131 closed

[2022-10-30 20:56] OfficialEduardoLuna commented on #21
link in the "about" section links to "http://www.gp2040.info/" when "http://www.gp2040-ce.info/" is the new site.

[2022-11-04 18:08] generalerusso opened #138 "0.5.2 - Impossible to access webUI"
Recently installed the GP2040-CE-RaspberryPiPico_v.0.5.2_Stick.uf2 on a brand new Pi Pico (non W) and while it works perfectly fine, I can't seem to access the webUI at 192.168.7.1. I have followed the pinout, so i do have the START button connected to the pin S2 (GP17).

When I connect the USB cable to my PC while pressing the START/S2 button, it does appear to change its ID when using `lsusb`, a

[2022-11-04 18:27] davewongillies commented on #138
@generalerusso unfortunately access to the webUI is currently only supported on windows. There's an existing issue for it https://github.com/OpenStickFoundation/GP2040-CE/issues/10

[2022-11-12 16:56] raion21 opened #142 "Brook Wingman Question"
Will this work with a Brook Wingman on the PS4/PS5 if it's on Xinput mode or any of the other modes for that matter? Will there be any additional input delay from this?

[2022-11-13 01:09] TheTrainGoes commented on #87
Hey @SneakySpec,

I went out and bought a PS3 and am not able to replicate this on mine.

I have tried a few different RP2040 setups and all are displaying the LEDs as expected.

Can you please let me know what device you are having this issue with, what mode it is, which plug is being used / etc?

[2022-11-14 01:18] TheTrainGoes commented on #138
Closing this out!  We hope to have additional support for more operating systems soon

[2022-11-14 01:18] #138 closed

[2022-11-14 13:23] TheTrainGoes commented on #142
Hey @raion21 ,

There have been reports that this works on the Brook Wingman on PS4 and PS5.  We are not sure if this will be compatible with the new PS5 converter that Brook is working on though.

Input delay wise there is a tiny amount added but it is nothing significant.

[2022-11-14 13:23] #142 closed

[2022-11-16 17:09] goyetus opened #146 "GP2040-CE as HID for SNES, NES , PC and other controllers..."
Hello!!   Im about two weeks searching info  to use the RP2040  as a stick HID to control SNES pads....
Im not a low level coder,  so I can not convert NES code to SNES using PICO.

I think it will be awesome to have different controllers implemented inside GP2040-CE.
Anyone skilled to do it?

I have samples from :

NES to USB   using PICO
https://github.com/printnplay/Pico-MicroPython/blob/main/N

[2022-11-17 03:13] goyetus commented on #146
Before closing this Thread,   PLEASE CONSIDER THIS:

DaemonBite for arduino SUPPORTS :
- Arcade Sticks
- C64 controllers
- Amiga controllers
- Atari controllers
- NeoGeo  controllers

This request is a hard request.  Please Consider this well in the  "planning route"  for GP2040-CE.

[DaemonBite](https://github.com/MickGyver/DaemonBite-Arcade-Encoder)

[2022-11-17 07:39] waterbury opened #147 "Add ability to add custom LED order matrix"
I have an LED matrix PCB with 4 LEDs per button. The LEDs aren't grouped in button order. I had some code on another microcontroller to deal with this. Please refer to the code block below. Also, using this scheme perhaps allow a low current version that only uses 1 LED from each button.

[code]

[2022-11-17 11:27] luisvoo opened #148 "Reversed mixbox layout for OLED"
Hi, I am finding a way to get a reversed layout for the OLED. the picture attached is the layout I hope to achieve

![LAYOUT](https://user-images.githubusercontent.com/94888012/202439507-0e9306f0-0d37-4b19-9a4e-7b738ff09bf8.jpg)

[2022-11-18 04:19] davewongillies commented on #146
GP2040-CE already has a drop in replacement configuration for the Daemonbite Arcade Encoder with [Sparkfun Pro Micro - RP2040](https://github.com/OpenStickFoundation/GP2040-CE/tree/main/configs/SparkFunProMicro) support. The pin mappings are 1-to-1 for arcade sticks.

[2022-11-20 09:29] waterbury commented on #147
This change to neopicoleds.cpp works as a hack. I'll try to implement an better change tomorrow and submit
Line 334:
`
std::vector<std::vector<Pixel>> NeoPicoLEDAddon::createLEDLayout(ButtonLayout layout, uint8_t ledsPerPixel, uint8_t ledButtonCount)
{
	vector<vector<uint8_t>> positions(ledButtonCount);
	int buttonLEDpos[80] = { 25, 26, 24, 23    ,    9, 10, 8, 7   ,   27, 28, 22, 21    ,   11, 12

[2022-11-21 02:00] TheTrainGoes commented on #148
I should be able to get this done for you.  When I have a bit of time I will take a swing at it.

[2022-11-21 07:41] luisvoo commented on #148
Thank you, I look forward to it!

[2022-11-21 14:27] skullhornet opened #153 "Project does not build with Pico SDK 1.4"
Pico SDK 1.4 includes a new version of TinyUSB which changes the usbd_class_driver_t callbacks.

When compiling lib/TinyUSB_Gamepad/src/xinput_driver.cpp  I get the following error:

error: 'const usbd_class_driver_t' has no non-static data member named 'control_request'

[2022-11-22 04:06] TheTrainGoes opened #154 "v0.5.4 inclusion - Add Turbo to the RGB LED stack"
Ability to add the turbo LED to the RGB LED stack + Web UI addition for configuring it.

[2022-11-22 04:16] TheTrainGoes opened #155 "v0.5.4 inclusion - Ability to change the color of the addressable RGB Player LEDs"
Currently, when the Player LEDs are set to RGB they default to green.

This can be changed via:
https://github.com/OpenStickFoundation/GP2040-CE/blob/main/src/addons/neopicoleds.cpp

Line 153-164

`	// Apply the player LEDs to our first 4 leds if we're in NEOPIXEL mode
	if (PLED_TYPE == PLED_TYPE_RGB) {
		switch (inputMode) { // HACK
			case INPUT_MODE_XINPUT:
				for (int i = 0; i < PLED_COUNT; i

[2022-11-22 04:19] TheTrainGoes opened #156 "v0.5.4 inclusion - Fix home button in PS3 mode"
Currently the home button does not work in Dinput mode on a PS3.

There is a lot of info kicking around on this topic.

The original ticket:
https://github.com/FeralAI/GP2040/issues/4

More info on home buttons:
https://www.slashdev.ca/2010/05/25/ps3-gamepad-with-home-button/

[2022-11-22 04:26] arntsonl opened #157 "Saving in Add-ons Tab causes Save Corruption"
Currently saving in the add-ons tab on 0.5.2 causes a save corruption when trying to upgrade to 0.5.3.

Will actively try to get this corrected so we can pull in more features and get a 0.5.3 release.

[2022-11-24 12:45] www10177 commented on #78
Hi, I'm interested in this, and may implement this recently.
Did anyone already do it?

[2022-11-26 21:09] TheTrainGoes commented on #107
This has been done - thanks Deeebug!

[2022-11-26 21:09] #107 closed

[2022-11-27 01:11] TheTrainGoes commented on #106
This has been finished and merged!  Thanks Deeebug

[2022-11-27 01:11] #106 closed

[2022-11-27 01:12] TheTrainGoes commented on #87
Going to close this as unable to reproduce.  @SneakySpec if you can get in touch with me via Discord we can talk more about it.

I was watching the video again and am wondering if you have some power delivery issues on the 5v line causing this.

[2022-11-27 01:43] TheTrainGoes commented on #155
There are two parts to this:

1 - Add this into boardconfig.h as a #define that can be set to any of the available colors, this should be added into the sectino of the boardconfig file where the player LED info is set.

2 - Add this into web-config.  This is more challenging since we do not currently have the ability to enable any of the player LED info.  Ideally this would live in a new section o

[2022-11-27 13:38] chikage8640 commented on #15
I want this too.
What I would most like is an option to simply disable SOCD.
Like the Logitech F310, all buttons on the D-pad need to be pressed to get input in all directions. Because in rhythm games there are commands to press all up, down, left and right at the same time.

[2022-11-27 15:51] TheTrainGoes commented on #157
This was fixed in the v0.5.3 rollout.

[2022-11-27 15:51] #157 closed

[2022-11-27 15:55] TheTrainGoes commented on #154
As a follow up - I am unsure where it should be placed in the RGB LED chain.

Ideally after the Player LEDs, however they do not play will with having things after them.

[2022-11-27 15:55] TheTrainGoes commented on #154
Follow up #2 - The configuration for the LED should also include changing the color.

[2022-11-27 15:59] TheTrainGoes commented on #146
Closing this as out of scope

[2022-11-27 15:59] #146 closed

[2022-11-27 19:05] deeebug commented on #84
Hello, this is how it looks like. I hope that it's good enough for now.
![image](https://user-images.githubusercontent.com/77402236/204154729-26c7f5cc-4467-41c1-a31e-c1a163427d37.png)

[2022-11-27 19:06] deeebug commented on #83
As mentioned in the PR, please see and merge.

Thank you.

[2022-11-28 02:46] #87 closed

[2022-11-28 02:46] TheTrainGoes commented on #10
This has been resolved, updates coming out soon

[2022-11-28 02:47] TheTrainGoes commented on #8
Closing this as we now have config import

[2022-11-28 02:47] #8 closed

[2022-11-28 02:48] TheTrainGoes commented on #52
Closing this - not needed anymore

[2022-11-28 02:48] #52 closed

[2022-11-28 12:49] TheTrainGoes commented on #10
Thought we had merged this already - reopening

[2022-11-28 15:40] TheTrainGoes opened #170 "Remove excess boot screen images"
With the new ability to upload a custom image we can free up space by removing the others.

Our main logo should stay, and then have one other option which is the custom upload.

[2022-11-28 15:46] arntsonl opened #171 "Remove excess web images"
Remove the web images from fsdata.c, this will free up some space in the UF2.

[2022-11-28 16:15] arntsonl commented on #83
Fixed with PR #164

[2022-11-28 16:15] #83 closed

[2022-11-29 18:18] travmaa opened #172 "Can you run Dpad and LeftStick Together (dual directional) ?"
Hello All, I want to do a dual directional. For this I need to run the left stick (emulate 4pin) and dpad at the same time, I couldn't do it, can anyone do it ?
I want it to be with the original crossup logic.
4pin dpad input
4pin left stick input is switched not resistive
with socd modes , direct input, xinput, switch modes
rp2040 or atmega32u4
ty.

[2022-11-30 18:57] arntsonl opened #174 "Force SH1106/"FORCE" mode in the display settings"
Add an option to force the SSH1106 / LCD options in the display settings. This will solve the edge case with certain SH1106 displays not showing our OLED code.

@thesuccubus current main fork supports this but should be changed:
https://github.com/thesuccubus/GP2040-CE